.App {
  width: 80%;
  margin: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  background-color: aliceblue;
}

.App-header {
  border-radius: 25px 25px 0 0;
  background-color: rgb(138, 91, 91);
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #eeebf1;
  font-family: cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;;
  font-size: small;
  opacity: 0.5;
}

.Messages-list {
  padding: 15px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin:15px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
  border-bottom: dashed 1px;
  padding-bottom: 3px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 300px;
  overflow-wrap: break-word;
  margin: 0;
  border-radius: 13px;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #ffef96;
}

form {
  display: flex;
  width: 94%;
  justify-content: space-between;
  max-width: 875px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 15px;
  border-radius: 8px;
  border: 1.5px solid rgb(128, 127, 127);
  flex-grow: 1;
  background-color: white;
  
}

input::placeholder{
  text-align: center;
}

button {
  width: 13%;
  padding: 7px 10px;
  font-size: 16px;
  background-color: rgb(86, 209, 86);
  color: black;
  border: none;
  border-radius: 8px;
  margin-left: 9px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}